
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<main>
			<section class="card">
	 			<h1 id="test">H1</h1>
				<h2>H2</h2>
				<p><em>p</em></p> 
				<svg class="chart" width="800" height="600"></svg>
			</section>
			<footer class="notes">

			</footer>
    </main>
  </body>
</html>
